@font-face {
  font-family: "iconfont"; /* Project id 2520599 */
  src: url('iconfont.woff2?t=1621134687539') format('woff2'),
       url('iconfont.woff?t=1621134687539') format('woff'),
       url('iconfont.ttf?t=1621134687539') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingzhuang:before {
  content: "\e61c";
}

.icon-xiazai:before {
  content: "\e632";
}

.icon-zu:before {
  content: "\e60e";
}

.icon-download:before {
  content: "\e77f";
}

.icon-fuzhi:before {
  content: "\e610";
}

.icon-barchart:before {
  content: "\ec04";
}

.icon-copy1:before {
  content: "\e624";
}

.icon-jiahao1:before {
  content: "\e6cd";
}

.icon-jianhao2:before {
  content: "\e64f";
}

.icon-puzzle-piece-plugin:before {
  content: "\e600";
}

.icon-wenzi:before {
  content: "\e62d";
}

.icon-tupian:before {
  content: "\e602";
}

