@font-face {
  font-family: "iconfont"; /* Project id 2520599 */
  src: url('iconfont.woff2?t=1621148650158') format('woff2'),
       url('iconfont.woff?t=1621148650158') format('woff'),
       url('iconfont.ttf?t=1621148650158') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangchuantupian:before {
  content: "\e710";
}

.icon-shangchuantupian_f:before {
  content: "\e695";
}

.icon-shanchu:before {
  content: "\e69b";
}

.icon-shangyi:before {
  content: "\e69c";
}

.icon-xiayi:before {
  content: "\e69e";
}

.icon-qingchu:before {
  content: "\e621";
}

.icon-xingzhuang:before {
  content: "\e61c";
}

.icon-fuzhi:before {
  content: "\e610";
}

.icon-barchart:before {
  content: "\ec04";
}

.icon-jiahao1:before {
  content: "\e6cd";
}

.icon-jianhao2:before {
  content: "\e64f";
}

.icon-puzzle-piece-plugin:before {
  content: "\e600";
}

.icon-wenzi:before {
  content: "\e62d";
}

.icon-tupian:before {
  content: "\e602";
}

